In [16]:
import ibm_db

In [17]:
dsn_hostname = "b0aebb68-94fa-46ec-a1fc-1c999edb6187.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud"
dsn_uid = "qnr61430"
dsn_pwd = "hSvoRckQiA0kggc4"

dsn_driver = "{IBM DB2 ODBC DRIVER}"
dsn_database = "bludb"
dsn_port = "31249" 
dsn_protocol = "TCPIP"
dsn_security = "SSL"

In [18]:
dsn = (
    "DRIVER={0};"
    "DATABASE={1};"
    "HOSTNAME={2};"
    "PORT={3};"
    "PROTOCOL={4};"
    "UID={5};"
    "PWD={6};"
    "SECURITY={7};").format(dsn_driver, dsn_database, dsn_hostname, dsn_port, dsn_protocol, dsn_uid, dsn_pwd,dsn_security)
print(dsn)

DRIVER={IBM DB2 ODBC DRIVER};DATABASE=bludb;HOSTNAME=b0aebb68-94fa-46ec-a1fc-1c999edb6187.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud;PORT=31249;PROTOCOL=TCPIP;UID=qnr61430;PWD=hSvoRckQiA0kggc4;SECURITY=SSL;

In [19]:
try:
    conn = ibm_db.connect(dsn, "", "")
    print ("Connected to database: ", dsn_database, "as user: ", dsn_uid, "on host: ", dsn_hostname)

except:
    print ("Unable to connect: ", ibm_db.conn_errormsg() )

Connected to database:  bludb as user:  qnr61430 on host:  b0aebb68-94fa-46ec-a1fc-1c999edb6187.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud

In [20]:
%reload_ext sql

In [21]:
%sql ibm_db_sa://qnr61430:hSvoRckQiA0kggc4@b0aebb68-94fa-46ec-a1fc-1c999edb6187.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:31249/bludb?security=SSL

'Connected: qnr61430@bludb'

### Question 1 ###

In [22]:
%sql select count(*) as total_crimes from chicago_crime_data;

 * ibm_db_sa://qnr61430:***@b0aebb68-94fa-46ec-a1fc-1c999edb6187.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:31249/bludb
Done.

[(533,)]

### Question 2 ###

In [23]:
%sql select community_area_name, per_capita_income from census_data where per_capita_income < '11000';

 * ibm_db_sa://qnr61430:***@b0aebb68-94fa-46ec-a1fc-1c999edb6187.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:31249/bludb
Done.

[('West Garfield Park', 10934),
 ('South Lawndale', 10402),
 ('Fuller Park', 10432),
 ('Riverdale', 8201)]

### Question 3 ###

In [24]:
%sql select case_number from chicago_crime_data where lcase(primary_type) = 'offense involving children'\
or lcase(description) like '%minor';

 * ibm_db_sa://qnr61430:***@b0aebb68-94fa-46ec-a1fc-1c999edb6187.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:31249/bludb
Done.

[('HL266884',), ('HK238408',)]

### Question 4 ###

In [27]:
%sql select case_number from chicago_crime_data where primary_type ='KIDNAPPING';

 * ibm_db_sa://qnr61430:***@b0aebb68-94fa-46ec-a1fc-1c999edb6187.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:31249/bludb
Done.

[('HN144152',)]

### Question 5 ###

In [30]:
%sql select primary_type as Kind_of_Crime from chicago_crime_data WHERE location_description LIKE '%SCHOOL%';

 * ibm_db_sa://qnr61430:***@b0aebb68-94fa-46ec-a1fc-1c999edb6187.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:31249/bludb
Done.

[('BATTERY',),
 ('BATTERY',),
 ('BATTERY',),
 ('BATTERY',),
 ('BATTERY',),
 ('CRIMINAL DAMAGE',),
 ('NARCOTICS',),
 ('NARCOTICS',),
 ('ASSAULT',),
 ('CRIMINAL TRESPA',),
 ('PUBLIC PEACE VI',),
 ('PUBLIC PEACE VI',)]

### Question 6 ###

In [31]:
%sql select avg(safety_score) as average_safety_score from chicago_public_schools;

 * ibm_db_sa://qnr61430:***@b0aebb68-94fa-46ec-a1fc-1c999edb6187.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:31249/bludb
Done.

[(49,)]

### Question 7 ###

In [33]:
%sql select community_area_number, community_area_name from census_data order by percent_householdS_below_poverty DESC LIMIT 5;

 * ibm_db_sa://qnr61430:***@b0aebb68-94fa-46ec-a1fc-1c999edb6187.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:31249/bludb
Done.

[(54, 'Riverdale'),
 (37, 'Fuller Park'),
 (68, 'Englewood'),
 (29, 'North Lawndale'),
 (27, 'East Garfield Park')]

### Question 8 ###

In [35]:
%sql select community_area_number, count(case_number) as number_of_cases from chicago_crime_data\
group by community_area_number order by number_of_cases DESC LIMIT 1;

 * ibm_db_sa://qnr61430:***@b0aebb68-94fa-46ec-a1fc-1c999edb6187.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:31249/bludb
Done.

[(25, 43)]

### Question 9 ###

In [36]:
%sql select community_area_name from census_data where hardship_index = (select max(hardship_index) from census_data);

 * ibm_db_sa://qnr61430:***@b0aebb68-94fa-46ec-a1fc-1c999edb6187.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:31249/bludb
Done.

[('Riverdale',)]

### Question 10 ###

In [38]:
%sql select community_area_name from census_data where community_area_number = (select community_area_number from \
(select * from (select community_area_number, count(community_area_number) as crimes_in_chicago from chicago_crime_data \
group by community_area_number))where crimes_in_chicago =(select max(crimes_in_chicago) from (select community_area_number, \
count(community_area_number) as crimes_in_chicago from chicago_crime_data group by community_area_number)));

 * ibm_db_sa://qnr61430:***@b0aebb68-94fa-46ec-a1fc-1c999edb6187.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:31249/bludb
Done.

[('Austin',)]